.horse-image-container.display {
    position: relative;
    width: 224px;   /* Largura original */
    height: 128px;  /* Altura original */
    transform: scale(2);
    transform-origin: top left;
}

